<div class="p0 m0 text-center" >
  <p class="card-text">Scan contact card</p>
  <img 
    id="qr-code" 
    class="card-img-top" 
    alt="Scannable QR code with contact info" 
    src="https://chart.googleapis.com/chart?cht=qr&chs=150x150&chl=MECARD:N:{{ .Param "lastName" | urlquery }},{{ .Param "firstName" | urlquery }};ADR:{{ .Param "address" | urlquery }};TEL:{{ .Param "phone" | urlquery }};EMAIL:{{ .Param "email" | urlquery }};URL:{{ .Site.BaseURL | urlquery }};NOTE:{{ .Param "contactNote" | urlquery }};;"
  />
</div>
